@CHARSET "ISO-8859-1";
.parent-img {
    margin-left:235px;
    margin-right:235px;
    width: 150px;
    box-shadow:10px 10px 10px yellow;
}
/* div.image-description { */
/*     border:10px solid red; */
    
/*     width:650px; */
/*     height:auto; */
/*     margin-left:10px; */
/*     margin-top:10px; */
/*     padding-top:10px; */
/*     border-image:url("images/sony.jpg") 30 30 30 30 round; */

/*     } */
.content {
    font-size:20px;
    font-weight:bold;
    color:pink;
}

.paragraph1,.paragraph2,.paragraph3 {
    border:10px dashed green;
    border-image:url("images/sony.jpg") 30 30 30 30 round;
    width:600px;
    height:auto;
    text-align:justify;
    margin:20px 20px 50px 20px;
    padding: 10px;
    border-radius:10px;
    box-shadow:10px 10px 10px green;
    background-color:hsl(200,50%,50%);

}
.paragraph3 {
    position:static;
/*     border-bottom:none; */
    
}
/* .paragraph2 { */
/*     position:fixed; */
/*     top:50px; */
/*     left:150px; */
/*     background-color:skyblue; */
/* } */
/* .paragraph3 { */
/*     position:relative; */
/* } */
